#ecom__page__hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./ecom-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 1;
    gap: 39px;
}

#ecom__page__hero__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Change the opacity value here */
  }

#ecom__hero__main__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    z-index: 50;
}


#ecom__hero___main_cta{
    border: 1px transparent;
    color: #fff;
    border-radius: 50px;
    padding: 0.5% 1.5%;
    z-index: 50;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    cursor: pointer;
}

#ecom__hero___main_cta:hover{
    background-color: #fff;
    color: #3B82F6;
    border: 1px solid transparent;
    box-shadow: 0 1px 0 1px  #999999;
}