#logo__img {
    max-width: 200px; 
    max-height: 50px;
  
    @media (min-width: 1200px) {
      max-width: 200px;
      max-height: 50px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      max-width: 180px;
      max-height: 50px;
    }
  
    @media (min-width: 300px) and (max-width: 800px) {
      max-width: 160px;
      max-height: 40px;
    }
  }